.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 6px;
        width: 50vh;
    }

    .header {
        font-size: 36px;
    }

    .currency-container {
        display: flex;
        justify-content: space-between;

        .currency {
            display: flex;
            align-items: center;
            width: 30%;
            height: 60px;
            margin-top: 10px;
            flex-direction: column;
            border: 1px solid gray;
            border-radius: 6px;
        }
        
        .coefficient {
            margin-top: 4px;
            font-size: 36px;
        }
    }

    .exchange-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        
        .exchange-from {
            display: flex;
            flex-direction: column;

            .currency-select {
                margin-top: 5px;
                width: 100%;
                font-size: 24px;
                outline: none;
            }

            .input {
                margin-top: 4px;
                padding: 5px 10px;
                font-size: 16px;
                outline: none;
                border: none;
                border-bottom: 1px solid gray;
            }
        }
    }
}
